/* utilities */

.ibm-plex sans-medium {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }



p{
    margin: 0px;
}
.container{
    max-width: 1100px;
}

.bg_black{
    background-color: rgb(34, 32, 32);
}
.bg-purple {
    background-color: #5841D8;
}
.bg-dark-grey {
    background-color: #2B2B2B;
}

.font-white{
    color: white;
}
.font-black{
    color: black;
}
.font-purple{
    color: #5841D8;
}
.font-orange{
    color: #f98e40;
}
.font-red{
    color: red;
}
.font-pink{
    color: rgb(248, 81, 218);
}
.font-size-1{
    font-size: 80px;
}
.flex{
    display: flex;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.invart{
    filter: invert(100%);
}



/* navbar  */
.searchbar{
    width: 32%;
}



  input:focus, button:focus {
    outline: 0;
    border: 0;
  }
  input, botton{
    font-size: 12px;
    width: 80%;
  }

/* hero section  */
.hero{
    background-color: #000000;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}